/* Reset básico */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #ffffff;
  background-color: #121212; /* Fondo oscuro */
}

/* Centrar contenido */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

/* Estilos compartidos para enlaces y botones en el navbar */
.navbar a,
.navbar button {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-decoration: none;
  margin: 0 0.5rem;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px; /* Opcional, para consistencia con botones */
}

/* Hover para enlaces y botones */
.navbar a:hover,
.navbar button:hover {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.1); /* Efecto visual para hover */
}

/* Navbar */
.navbar {
  width: 100%;
  background-color: #1e1e1e;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
}


/* Espaciado para evitar que el contenido quede detrás del navbar */
.main-content {
  padding-top: 80px; /* Altura del navbar */
}

.session-timer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
}

/* src/components/Spinner.css */

/* src/components/Spinner.css */

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta según tus necesidades */
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
